
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-inline" id="frmAdd">

                <div class="form-group">
                    <label for="txtBusinessName">Business Name</label>
                    <input type="text" class="form-control" id="txtBusinessName" placeholder="Business Name">
                </div>


                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <input type="text" class="form-control" id="txtDescription" placeholder="Description">
                </div>

                <button type="submit" class="btn btn-info">Add</button>
                <div id="messagediv"></div>
            </form>
            

            <form class="form-inline" id="frmUpdate" style="display: none">
                <input type="hidden" id="CategoryID" />
                <div class="form-group">
                    <label for="txtCategoryName2">Category Name</label>
                    <input type="text" class="form-control" id="txtCategoryName2" placeholder="Category Name">
                </div>
                <div class="form-group">
                    <label for="txtDescription2">Description</label>
                    <input type="text" class="form-control" id="txtDescription2" placeholder="Description">
                </div>
                <button type="submit" class="btn btn-info">Update Category</button>
                <div id="messagediv2"></div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="searchdiv">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-lg-8">
                <div class="input-group  input-group-lg">
                    <input type="text" id="txtsearch" class="form-control" placeholder="Search for...">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                </div><!-- /input-group -->
                <div id="resultmessage"></div>
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
    <br/>
    <br/>
    <div class="row" id="resultdiv">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Business Name</th>
                    <th>Description</th>
                    <th>Is Done</th>
                    <th>To Do Notify Date</th>
                    <th>To Do Result Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="resultbody"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    
    

}

